.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
}

.nav-items > ul > li {
  padding: 10px;
}
